body{
    font-family: sans-serif;
    text-align: center;
}

.container {
    min-height: 385px;
}

.img-qust{
    width: 300px;
    height: 300px;
    border: 10px solid rgb(249,205, 173);
    border-radius: 50%;
    padding: 20px;
}

.img-index{
    width: 340px;
    height: 340px;
    border: 10px solid rgb(249,205, 173);
    border-radius: 50%;
}

h1{
    font-size: 50px;
    color: rgb(231, 108, 125);
    margin-bottom: 20px;
}
h1 span{
    font-weight: lighter; 
    color:rgb(249,205, 173);
}

.btn{
   display: inline-block;
   border-radius: 4px;
   background-color:rgb(231, 108, 125);
   border: none;
   color: #FFFFFF;
   text-align: center;
   font-size: 28px;
   padding: 20px;
   width: 200px;
   cursor: pointer;
   margin: 5px;
}

.btn:hover{
    color:rgb(255, 233, 106);
    font: bold;
}

.msg{
    width: 300px;
    height: 300px;
    line-height: 300px;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bold;
    color: rgb(249,205, 173);
    border: 10px solid rgb(249,205, 173);
    border-radius: 50%;
    margin: auto;
    padding: 20px;
}


